@page "/"

<PageTitle>Home</PageTitle>

<h1>Static Server-Side Rendering</h1>

<p>This page is server-side rendered and has static HTML content.</p>
<p>Navigate to the Team page, which is also server-side rendered but loads data from a service before rendering the data on the server using Static Server-Side Rendering.</p>
